BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: url(/images/bk.jpg) #ffffff repeat-x 50% top; COLOR: #353535; FONT-SIZE: 12px
}
A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #005eae; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
A:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #005eae; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #005eae; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
H1 {
	FONT-FAMILY: Tahoma; COLOR: #699b05; FONT-SIZE: 26px; FONT-WEIGHT: normal
}
H2 {
	FONT-FAMILY: Tahoma; COLOR: #005eae; FONT-SIZE: 22px; FONT-WEIGHT: normal
}
#container {
	WIDTH: 100%; BACKGROUND: url(/images/foot_bk.jpg) repeat-x 50% bottom; HEIGHT: 100%
}
TD.phone {
	COLOR: #005eae; FONT-SIZE: 22px
}
TD.phone SPAN {
	COLOR: #353535; FONT-SIZE: 20px
}
TABLE.mainmenu A:link {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FONT-FAMILY: Tahoma; COLOR: #353535; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TABLE.mainmenu A:visited {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FONT-FAMILY: Tahoma; COLOR: #353535; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TABLE.mainmenu A:hover {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FONT-FAMILY: Tahoma; COLOR: #005eae; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TD.banner {
	BACKGROUND: url(/images/banner.png) no-repeat; HEIGHT: 209px
}
INPUT.txtfld {
	BORDER-BOTTOM: #353535 1px solid; BORDER-LEFT: #353535 1px solid; WIDTH: 170px; HEIGHT: 20px; COLOR: #353535; FONT-SIZE: 12px; BORDER-TOP: #353535 1px solid; BORDER-RIGHT: #353535 1px solid
}
INPUT.btnlog {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 69px; BACKGROUND: url(/images/btn_login.jpg) no-repeat; HEIGHT: 21px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
TABLE.bxborder {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid; PADDING-TOP: 1px
}
TD.boxst {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(/images/box_bk.jpg) #ffffff repeat-x 50% bottom; PADDING-TOP: 10px
}
TD.bxsmall {
	BORDER-BOTTOM: #959595 1px solid; BORDER-LEFT: #959595 1px solid; BACKGROUND: url(/images/boxs_bk.jpg) repeat-x; HEIGHT: 89px; BORDER-TOP: #959595 1px solid; BORDER-RIGHT: #959595 1px solid
}
DIV.bxpic {
	WIDTH: 138px; FLOAT: left; HEIGHT: 100px
}
TABLE.rhtbx {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; WIDTH: 282px; PADDING-RIGHT: 5px; BACKGROUND: url(/images/rht_bk.jpg) no-repeat; HEIGHT: 91px; PADDING-TOP: 1px
}
TABLE.rhtbx TD {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.txt1 {
	COLOR: #72a809; FONT-SIZE: 20px
}
.txt2 {
	COLOR: #72a809; FONT-SIZE: 25px
}
.txt3 {
	COLOR: #72a809; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.txt4 {
	COLOR: #005eae
}
.foot {
	COLOR: #005eae; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.required {
	COLOR: #ff0000
}
INPUT.text {
	BORDER-BOTTOM: #005eae 1px solid; BORDER-LEFT: #005eae 1px solid; WIDTH: 200px; HEIGHT: 20px; COLOR: #353535; FONT-SIZE: 12px; BORDER-TOP: #005eae 1px solid; BORDER-RIGHT: #005eae 1px solid
}
SELECT.text {
	BORDER-BOTTOM: #005eae 1px solid; BORDER-LEFT: #005eae 1px solid; WIDTH: 200px; HEIGHT: 22px; COLOR: #353535; FONT-SIZE: 12px; BORDER-TOP: #005eae 1px solid; BORDER-RIGHT: #005eae 1px solid
}
TEXTAREA.text {
	BORDER-BOTTOM: #005eae 1px solid; BORDER-LEFT: #005eae 1px solid; WIDTH: 300px; HEIGHT: 80px; COLOR: #353535; FONT-SIZE: 12px; BORDER-TOP: #005eae 1px solid; BORDER-RIGHT: #005eae 1px solid
}
TABLE.portfolio TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 14px; WIDTH: 184px; PADDING-RIGHT: 14px; BACKGROUND: url(/images/portfolio.jpg) no-repeat center top; HEIGHT: 164px; PADDING-TOP: 0px
}
TABLE.portfolio TD A:hover {
	FILTER: alpha(opacity=30); BACKGROUND: #af1805; opacity: .30; -moz-opacity: .30
}
TABLE.portfolio IMG {
	WIDTH: 160px; HEIGHT: 140px
}
SELECT.temp {
	WIDTH: 140px; COLOR: #005eae; FONT-SIZE: 11px
}
